{% extends 'backend/backend_layout.html.twig' %}

{% block title %}Movie index{% endblock %}

{% block content %}

    <h1>Movie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>poster</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for movie in movies %}
            <tr>
                <td>{{ movie.id }}</td>
                <td>
                    <a href="{{ path('backend_movie_show', {'id': movie.id}) }}">
                     {{ movie.title }}
                    </a>
                </td>
                <td>
                    <img src="{{ asset( poster_upload_path ~ (movie.poster ?: 'default-movie.jpg') ) | imagine_filter('thumb_back_list') }}"/>
                </td>
                <td>
                    <a href="{{ path('backend_movie_edit', {'id': movie.id}) }}">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="{{ path('backend_casting_index_by_movie', {'id': movie.id}) }}" class ="btn btn-warning">Castings</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('backend_movie_new') }}">
        Create new
        <i class="fas fa-plus-circle"></i> 
    </a>


{% endblock %}
