 {# 
  Note : Nous passons par un formulaire réalisé en dur car la procédure est plus complexe si Form type dans toutes les vues.
    (cf services, twig tag)
 #}
 <nav class="navbar navbar-light justify-content-between">

    <form class="form-inline" action="{{ path('movie_index') }}" method="POST">
        <input class="form-control mr-sm-2" type="search" name="title" placeholder="Search" aria-label="Search" minlength="3">
        <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
    </form>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {# L'utilisateur est authentifié #}
        <span class="mx-2">
            {% if app.user.roles[0] == 'ROLE_USER' %}
                Utilisateur
            {% else %}
                Administrateur
            {% endif %}
        </span>
        <span class="mx-2">{{ app.user.email }}</span>
        <a class="btn btn-outline-primary my-2 my-sm-0" href="{{ path('backend_movie_index')}} ">Admin</a>
        <a class="btn btn-outline-primary my-2 my-sm-0 ml-2" href="{{ path('app_logout')}} ">Déconnexion</a>
    {% else %}
        {# User non connecté = anonyme #}
        <span class="mx-2">Visiteur</span>
        <a class="btn btn-outline-primary my-2 my-sm-0 ml-2" href="{{ path('app_login')}} ">Connexion</a>
    {% endif %}
     
</nav>

