{% extends 'backend/backend_layout.html.twig' %}

{% block content %}
    <h2> Department list</h2>

    <p>
        <a href="{{ path('backend_department_edit_or_create', {'id' : 'new'}) }}" class="btn btn-success"> 
            Add new department
            <i class="fas fa-plus-circle"></i> 
        </a>
    </p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Name</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for department in departments %}
                <tr>
                    <th scope="row">
                        {{ department.id }}
                    </th>
                    <td>
                        <a href="{{ path('backend_department_show', { "id" : department.id } ) }}">
                             {{ department.name }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('backend_department_edit_or_create', { "id" : department.id } ) }}" class="btn btn-primary">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="{{ path('backend_department_delete', { "id" : department.id } ) }}" class="btn btn-danger">
                            <i class="fas fa-times"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
